#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*
beguni: #B7AEF2
holud: #F2ECB3
kalo: #3C3C3C
*/

/*
dark purple: #282633 
h3: #bdbdbd 
dark yellow: #86857a / #4f4f4e
*/