#root {
  max-width: 600px;
  margin: 0 auto;

  text-align: center;
}

/*
padding: 2rem; --- removed

beguni: #B7AEF2
holud: #F2ECB3
kalo: #3C3C3C
*/

/*
dark purple: #282633 
h3: #bdbdbd 
dark yellow: #86857a / #4f4f4e
*/