#root {
  margin: 0 auto;
  text-align: center;

  @media screen and (width < 420px) {
    width: 95%;
  }

  @media screen and (420px < width < 768px) {
    width: 80%;
  }

  @media screen and (width >=768px) {
    width: 620px;
  }
}

/*
padding: 2rem; --- removed

beguni: #B7AEF2
holud: #F2ECB3
kalo: #3C3C3C
*/

/*
dark purple: #282633 
h3: #bdbdbd 
dark yellow: #86857a / #4f4f4e
*/